$headerBackgroundColor: #111111;
$bodyBackgroundColor: #f8f8f8;
$textBlack: #1f1f1f;
$textGray: #c4c4c4;
$blueBackgroundColor: #535aff;
$blackBackgroundColor: #1f1f1f;
$white: #ffffff;
$blackTargetColor: #282828;
$borderBlue: #00a0ba;
$backgroundDarkBlue: #000913;
$lolYellow: #c28f2c;
